# rule for the lambda board
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6015",  SYMLINK+="lambda", GROUP="pi", OWNER="pi"

# rules for the ftdi rs422 complus4
SUBSYSTEM=="usb", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6011",  ATTRS{bInterfaceNumber}=="00", SYMLINK+="rs4220", GROUP="pi", OWNER="pi"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6011",  ATTRS{bInterfaceNumber}=="01", SYMLINK+="rs4221", GROUP="pi", OWNER="pi"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6011",  ATTRS{bInterfaceNumber}=="02", SYMLINK+="rs4222", GROUP="pi", OWNER="pi"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6011",  ATTRS{bInterfaceNumber}=="03", SYMLINK+="rs4223", GROUP="pi", OWNER="pi"
